<!-- <meta http-equiv="x-ua-compatible" content="IE=edge" /> -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, minimumscale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui" />
<meta content="telephone=no" name="format-detection" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="gray">
<meta name="x5-page-mode" content="app">
<meta name="full-screen" content="yes">
<meta name="description" content="冒险计划" />
<meta name="keywords" content="冒险计划" />